
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="alert alert-success">Dashboard</h2>
<br />

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hakkımda</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Home/AboutMe/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Eğitim Hayatım</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Education/EducationList/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yeteneklerim</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Skill/SkillList/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Deneyimlerim</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Experience/ExperienceList/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">İstatistikler</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Statistics/Index/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hizmetlerim</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Services/ServicesList" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sosyal Medya</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Sosial/ListSosial" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kategoriler</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Category/CategoryList/" class="btn btn-primary">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>
<br />

<br />

<br />
