@model PortfolyoProjectNight_2.Models.Experience
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="alert alert-success">Yeni Deneyim Girişi</h2>
<br />
<br />

<form method="post">
    <label>Deneyim Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Deneyim alt baslığı</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-info">Deneyimi oluştur</button>
</form>

